@model UserRegistrationApplication.Models.UserRegisterModel

@{
    ViewBag.Title = "UserRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 <link href="@Url.Content("~/Content/BaseStyleSheet.css")" rel="stylesheet" type="text/css" />
 <div id="date"></div>
<h2>User Registration Form</h2>
    
    
   <!-- Modal  -->
    <a class="button" href="#openModal">Register Now!</a>
    
    <div id="openModal" class="modalbg"> 
	  <div class="dialog"> 
		<a href="#close" title="Close" class="close">X</a>

          <!-- modal contents*/ -->
            @Html.Partial("TestView")
	
		</div>
     </div>
	  
    <!--Scripts HERE -->
      
     <script type="text/javascript">
         var today = new Date();
         today = today.toDateString();
        // document.getElementById("date").innerHTML = today;


         var d = new Date();
         var weekday = new Array(7);
         weekday[0] = "Sunday";
         weekday[1] = "Monday";
         weekday[2] = "Tuesday";
         weekday[3] = "Wednesday";
         weekday[4] = "Thursday";
         weekday[5] = "Friday";
         weekday[6] = "Saturday";

         var n = weekday[d.getDay()];

         var todayDate = n + ', ' + today.substring(3);
         document.getElementById("date").innerHTML = todayDate;


         function validateField(field) {
             //var name = document.getElementById("name1").value;
             var fieldName = field.getAttribute("name");
             var validationFieldName = "val-" + fieldName;
             var valField = document.getElementById(validationFieldName);
             
             var isSuccessful = true;
             if (field.value == null || field.value.trim() == "")
            {

                valField.innerHTML = "Please enter a valid " + fieldName + " to continue."
                isSuccessful = false;
             
            }
            else{
                valField.innerHTML = "";
                isSuccessful = true;

            }

            return isSuccessful;
            

         }    
     </script>


