.formRowContainer
{
  width: 100%;
  padding-top: 10px;
}
.labelContainer
{
    padding-top: 2px;
    float: left;
    min-width: 155px;
}
.valueContainer
{
    float: left;
    height: 50px;
    
}

.buttonContainer
{
   padding-top: 15px;
   padding-left :155px;
}
.clearStyle
{
    clear: both;
}
